.container {
  display: flex;
  align-items: stretch;
}

.container[data-direction='row'] {
  flex-direction: row;
}

.container[data-direction='row-reverse'] {
  flex-direction: row-reverse;
}

.item {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  width: 0px;
  min-width: 20px;
}

.item[data-last='true'] {
  flex-grow: 1;
}

.separator {
  box-sizing: content-box;
  width: 0px;
  border-left: 1px solid #ccc;
  flex-grow: 0;
  flex-shrink: 0;
}

.handle {
  user-select: none;
  width: 9px;
  cursor: col-resize;
  margin-left: -4px;
  margin-right: -5px;
  position: relative;
  z-index: 1000;
}

.handle:hover {
  background-color: #00000033;
}
