.tile {
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.header {
  background-color: #f0f0f0;
  padding: 4px 8px;
  font-size: 14px;
}

.content {
  height: 0px;
  flex-grow: 1;
}
