body {
  margin: 0px;
  font-size: 16px;
  font-family: sans-serif;
}

*,
:after,
:before {
  box-sizing: border-box;
}
._container_13y4s_1 {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

._area_13y4s_9 {
  height: 0px;
  flex-grow: 1;
}

._toolbar_13y4s_14 {
  padding: 4px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
}
._toolButton_1dqrl_1 {
  border-radius: 4px;
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 0px 32px;
  font-size: 16px;
  cursor: pointer;
  column-gap: 8px;
  user-select: none;
}

._toolButton_1dqrl_1[data-variant='run'] {
  background-color: #0d0;
  font-weight: bold;
  color: #fff;
}

._toolButton_1dqrl_1[data-variant='run']:hover {
  background-color: #0c0;
}

._toolButton_1dqrl_1[data-variant='run']:active {
  padding: 2px 31px 0px 33px;
  background-color: #0b0;
}


._toolButton_1dqrl_1[data-variant='normal'] {
  border: 1px solid #ccc;
  background-color: #eee;
  color: #000;
}

._toolButton_1dqrl_1[data-variant='normal']:hover {
  border: 1px solid #ccc;
  background-color: #ddd;
}

._toolButton_1dqrl_1[data-variant='normal']:active {
  padding: 2px 31px 0px 33px;
  background-color: #ccc;
}
._toolbar_1mvp9_1 {
  box-sizing: content-box;
  height: 36px;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  justify-items: flex-start;
  align-items: stretch;
  column-gap: 4px;
}
._editor_1odyu_1 {
  font-family: 'Inconsolata', monospace;
  font-size: 16px;
  line-height: 1.5;
}
._container_1ioff_1 {
  display: flex;
  flex-direction: column;
}

._header_1ioff_6 {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: row;
  height: 32px;
  flex-grow: 0;
  flex-shrink: 0;
  align-items: stretch;
}

._headerButton_1ioff_16 {
  padding: 0px 16px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
  user-select: none;
  flex-grow: 0;
}

._headerButton_1ioff_16[data-selected='true'] {
  background-color: #fff;
  border-top: 3px solid #00f;
  padding-bottom: 2px;
  border-bottom: 1px solid #f0f0f0;
}

._headerFreeSpace_1ioff_35 {
  width: 0px;
  flex-grow: 1;
  border-bottom: 1px solid #ccc;
}

._tab_1ioff_41 {
  height: 1px;
  flex-grow: 1;
}
._container_iwbts_1 {
  display: flex;
  align-items: stretch;
}

._container_iwbts_1[data-direction='row'] {
  flex-direction: row;
}

._container_iwbts_1[data-direction='row-reverse'] {
  flex-direction: row-reverse;
}

._item_iwbts_14 {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  width: 0px;
  min-width: 20px;
}

._item_iwbts_14[data-last='true'] {
  flex-grow: 1;
}

._separator_iwbts_26 {
  box-sizing: content-box;
  width: 0px;
  border-left: 1px solid #ccc;
  flex-grow: 0;
  flex-shrink: 0;
}

._handle_iwbts_34 {
  user-select: none;
  width: 9px;
  cursor: col-resize;
  margin-left: -4px;
  margin-right: -5px;
  position: relative;
  z-index: 1000;
}

._handle_iwbts_34:hover {
  background-color: #00000033;
}
