.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: stretch;
  padding: 8px 8px 8px 0px;
}

.container > * {
  margin-left: 8px;
  width: 1px;
  flex-grow: 1;
}

.result {
  white-space: pre-wrap;
  font-family: monospace;
  font-size: 14px;
  overflow-y: auto;
}
