.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.area {
  height: 0px;
  flex-grow: 1;
}

.toolbar {
  padding: 4px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
}
