.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: stretch;
  padding: 8px;
  column-gap: 8px;
}

.editor,
.result {
  width: 1px;
  flex-grow: 1;
}

.code {
  font-family: 'Inconsolata', monospace;
  line-height: 1.5;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  row-gap: 8px;
}

.compileOutput {
  height: 70%;
  flex-grow: 1;
}

.terminal {
  height: 30%;
  flex-grow: 1;
}
